.MainHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px;
    box-sizing: border-box;
    z-index: 9999;
    border: 1px solid lightgray;
    border-radius: 5px;
}